.cardContainer {
  background: whitesmoke;
  padding: 20px;
  flex: 0 1 25%;
  font-weight: 500;
  font-family: 'Inter';
  font-size: 16px;
  border-radius: 14px;
  transition: transform .5s;
  cursor: pointer;
}

.cardContainer:hover {
  transform: scale(1.2);
  box-shadow: 1px 1px 12px black;
}

.cardImg {
  border-radius: 14px;
  width: 220px;
  height: 160px;
}

.cardName {
  margin: 10px 0;
}

.cardCategory {
  margin: 0;
  color: #05BC52;
}

.cardContainerInner {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.cardPrice {
  font-size: 20px;
  color: #FC5B00;
  font-weight: 600;
  margin: 0;
}

.cardQuantity {
  margin: 0;
}

.cardDelivery {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.cardImgDelivery {
  width: 25px;
  height: 25px;
  fill: #05BC52;
}

.cardDescription {
  font-size: 16px;
  color: #05BC52;
  margin: 5px 0;
}