
.ProductsTableContainer {
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 12px;
  position: relative;
}

.productTableSpinnerContainer {
  position: fixed;
  top: 50vh;
  right: 50vw;
}

.slotName {
  position: relative;
  width: 100%;
  font-weight: 600;
  font-family: 'Inter';
  font-size: 18px;
  margin: 15px 0;
}


.productItem {
  width: 100%;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productTableTitle {
  display: flex;
  background: #0EC86F;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.productTableField {
  background: silver;
  margin: 0 auto;
  max-width: 1200px;
}

.productTableField:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.productTableField:hover {
  background: #3CD78C;
  color: #A58F8F;
}

.slotIcon {
  position: absolute;
  top: 0;
  right: 0;

}

.productTableSelect {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-family: 'Inter';
}

.buttonContainerProductTable {
  width: 100%;
}

.buttonEdit {
  cursor: pointer;
  background: transparent;
  border: none;
}

.buttonEdit:active>.editIcon {
  fill: blue;
}

.buttonDelete {
  cursor: pointer;
  background: transparent;
  border: none;
  margin-left: 5px;
}

.buttonDelete:active>.deleteIcon {
  fill: red;
  transition: linear .1s;
}

.errorContainer {
  border-radius: 14px;
  background: silver;
  padding: 50px 0;
  border: #0EC86F 5px solid;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.errorText {
  font-size: 40px;
  font-weight: 600;
  color: red;
  margin: 0;
}

/********** MOBILE ***************************/

@media (max-width: 400px) {
    .ProductsTableContainer {
  }

  .productTableTitle {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid black;
  }

  .slotIcon {
    display: none;
  }

    .ProductsPage {
    padding: 50px 0 20px;
    position: relative;
  }

    .slotName {
    font-size: 15px;
    width: 100%;
  }

  .slotName:first-child {
    padding-left: 15px;
  }

  .slotName:last-child {
    display: none;
  }
  
  .slotName:nth-child(5) {
    margin-right: 30px;
  }

  .productTableField {
    border-bottom: 1px solid black;
  }

  .productTableField:hover {
    background: silver;
    color: black;
  }

  .productItem {
    width: 330px;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .buttonContainerProductTable {
    display: none;
    overflow: hidden;
    z-index: -1;
  }

  .buttonEdit, .buttonDelete {
    display: none;
  }

    .productTableSpinnerContainer {
    position: fixed;
    top: 50%;
    right: calc(50% - 15px);
  }

  .errorContainer {
    border-radius: 14px;
    background: silver;
    padding: 20px 0;
    border: #0EC86F 5px solid;
    max-width: 320px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
  }
  
  .errorText {
    font-size: 18px;
    font-weight: 600;
    color: red;
    margin: 0;
  }
}